<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<h4> <%= link_to "Edit this task", edit_path %> </h4>
<h4> 
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "ARE YOU SURE?" } %>
</h4>
<h4> <%= link_to "Return to tasks", tasks_path %> </h4>